.card {
  border: 4px solid black;
  border-radius: 20px;
  margin: 10px;
  width: auto; /* Aumentamos el ancho para permitir más espacio */
  height: auto; /* Cambiamos a auto para que se ajuste según el contenido */
  padding: 20px; /* Añadimos un poco de espacio interno */
  display: flex; /* Ajustamos a flex para que los elementos internos se distribuyan correctamente */
  flex-direction: column; /* Cambiamos a columna para que el contenido se alinee verticalmente */
}

textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  padding: 10px;
}

.container {
  display: flex;
  width: 100%;
}

.left {
  width: 50%;
  padding: 10px;
}

.right {
  width: 50%;
}

.inline {
  display: 5px;
  margin: 5px;
}

.intervene {
  transform: translateY(-70px);
}
