.callStatus {
    display: flex;
    height: 100%;
    width: 100%;
    background-size: cover;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.contract-content-card {
    border: none;
    background-color: #f8f9fa;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contract-icon-container {
    background-color: #28a745;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.icon {
    color: white;
    font-size: 24px;
}

.contract-text-container {
    flex-grow: 1;
}

.contract-card-title {
    margin-bottom: 0;
    font-size: 16px;
    color: #495057;
}

.contract-card-text {
    margin: 0;
    font-size: 11px;
    font-weight: bold;
    color: #343a40;
}

.kpi-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.callTimer {
    position: absolute;
    top: 50%;
    left: 29%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #83e486;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;  
    border: white 5px solid;
}

.callIssue {
    font-size: 1rem;
    display: flex;
}

.cool{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
}

.hola {
    margin-top: 10px;
    margin-bottom: 10px;
}

.custom-toast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8d7da; /* Fondo rojo claro */
    color: #721c24; /* Texto rojo oscuro */
    padding: 16px;
    border-left: 6px solid #f5c6cb; /* Borde rojo claro */
    border-radius: 4px;
    font-size: 20px; /* Asegurando el tamaño de fuente */
  }
  
  .toast-content {
    flex: 1;
  }
  
  .toast-button {
    background-color: #721c24; /* Fondo rojo oscuro */
    color: #ffffff; /* Texto blanco */
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .toast-button:hover {
    background-color: #f5c6cb; /* Fondo rojo claro */
    color: #721c24; /* Texto rojo oscuro */
  }

.bg-success {
    background-color: #00bcb4 !important;
}

.bg-warning {
    background-color: #ffce00 !important;
}
 
.bg-danger {
    background-color: #d7006d !important;
}

.bg-info {
    background-color: #b6bdbd !important;
}