.main-container {
  display: flex;
  height: 100vh;
  position: relative;
}

.left-panel {
  flex: 1;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas con ancho igual */
  grid-gap: 7.9px; /* Espacio entre las tarjetas */
}

.right-panel {
  width: 30%;
  display: flex;
  flex-direction: column;
}


.top-section,
.bottom-section {
  flex: 1;
  margin: 10px;
  padding: 10px;
}

.bottom-section {
  background-color: #eee;
}

/* Permite responsividad dentro de la pantalla principal*/
/* Limita tamaños para mantener responsividad */
@media (max-width: 1024px) {
  .left-panel {
    flex: 1;
    margin: 18px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Crea 3 columnas con ancho igual */
    grid-gap: 7.9px; /* Espacio entre las tarjetas */
  }

  .right-panel {
    width: 45%;
    display: flex;
    flex-direction: column;
  }

  .top-section{
    flex: 1;
    margin-top: 25px;
    padding: 5px;
  }

}
