.main-container {
  display: flex;
  height: 100vh;
  position: relative;
  /* Esto permite posicionar el botón y la ventana de notificaciones de forma absoluta dentro del contenedor */
}

.left-panel {
  flex: 1;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Crea 3 columnas con ancho igual */
  grid-gap: 10px;
  /* Espacio entre las tarjetas */
}

.right-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.notifications-panel {
  position: fixed;
  right: 50px;
  /* Más hacia el centro desde el borde derecho */
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  /* Ancho de la ventana de notificaciones */
  height: 300px;
  /* Altura de la ventana de notificaciones */
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 90;
  /* Menor que el botón para que no sobreponga */
  padding: 20px;
  overflow-y: auto;
  /* Permite desplazarse si el contenido es muy largo */
}

.top-section,
.bottom-section {
  flex: 1;
  margin: 10px;
  padding: 10px;
}

.bottom-section {
  background-color: #eee;
}

@media (min-width: 576px) {
  .right-panel {
    width: 50%; /* 80% de ancho en pantallas pequeñas */
  }
}

@media (min-width: 768px) {
  .right-panel {
    width: 50%; /* 60% de ancho en pantallas medianas */
  }
}

@media (min-width: 992px) {
  .right-panel {
    width: 40%; /* 50% de ancho en pantallas grandes */
  }
}

@media (min-width: 1200px) {
  .right-panel {
    width: 40%; /* 40% de ancho en pantallas extra grandes */
  }
}