.main-container {
  display: flex;
  height: 100vh;
  position: relative;
  padding-top: 56px; /* Altura del header */
  /* Esto permite posicionar el botón y la ventana de notificaciones de forma absoluta dentro del contenedor */;
}

.left-panel {
  flex: 1;
  overflow-y: scroll;
  padding-left: 18px;
  padding-top: 10px;
  -ms-overflow-style: none;  
}
  
.left-panel::-webkit-scrollbar {
  display: none;
}

.right-panel {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.top-buttons{
  display: flex;
  justify-content: center;
  width:400px;
}


.button-group {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-left: 9%;
  padding-right: 4%;
}

.tab-button {
  flex: 1;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
}

.content-section {
  margin: 10px;
  width: 100%;
}

.top-section{
  flex: 1;
  padding: 10px;
}
.bottom-section {
  flex: 1;
  margin: 10px;
  padding: 10px;

}

.header {
  color: black;
}

.bottom-section {
  background-color: #eee;
}


.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
  background-color: black;
}

.custom-carousel .carousel-indicators li {
  background-color: black;
}

.custom-carousel .carousel-indicators .active {
  background-color: gray; /* O cualquier otro color para la indicación activa */
}

/* Ajuste del header */
.header-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 56px; /* Asegúrate de que esta altura coincida con el padding-top de .main-container */
}


/* Para pantallas entre 300px y 1000px */
@media screen and (min-width: 500px) and (max-width: 990px) {
  .right-panel {
    width: 55%;
  }
}

