.stats {
    display: flex;
    flex-direction: column;
}

.button-row {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.kpi-button {
    background-color: #EC6907; /* Color de fondo */
    color: white; /* Color de texto */
    margin: 10px ; /* Margen entre cada botón */
    text-align: center; /* Alineación de texto */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    transition-duration: 0.3s; /* Duración de la transición */
    width: 12rem; /* Ancho del botón */
    height: 6rem; /* Altura responsiva */
    border-radius: 20px; /* Bordes redondeados */
    font-size: 1rem;
}

.kpi-button:hover {
    background-color: #a06000; /* Cambiar el color de fondo al pasar el mouse */
}